<app-page-header
	[icon]="'pi pi-address-book'"
	[title]="'reservation.panel-title'"
	[description]="'reservation.panel-description'"
>
	<ng-container toolbar>
		<ng-container>
			<div class="flex gap-2">
				@if (isAdmin) {
					<div class="toggle flex gap-2" [class.toggle-hidden]="!hasSelection" [class.toggle-visible]="hasSelection">
						<span class="flex align-items-center mr-3">
							<i class="pi pi-check-square mr-1"></i>
							{{ selectedReservations().length }}
							{{ 'reservation.selected' | translate }}
						</span>

						<p-button
							icon="pi pi-check-circle"
							[label]="'reservation.approve' | translate"
							severity="success"
							(onClick)="onApproveEvent()"
						/>

						<p-button
							icon="pi pi-times-circle"
							[label]="'reservation.reject' | translate"
							severity="danger"
							(onClick)="onRejectEvent()"
						/>
					</div>
				}

				<p-button
					[severity]="Severity.SECONDARY"
					[label]="'common.filters' | translate"
					[icon]="isFilterVisible() ? 'pi pi-filter' : 'pi pi-filter-slash'"
					(onClick)="onToggleFilter()"
				/>
			</div>
		</ng-container>
	</ng-container>

	<ng-container content>
		<app-reservation-table [(selectedReservations)]="selectedReservations" [(isFilterVisible)]="isFilterVisible"/>
	</ng-container>
</app-page-header>