<div class="login-wrapper">
	<div class="login-card">
		<h2 class="title">Faculty<i>Flow</i></h2>

		<input pInputText
		       type="text"
		       [formControl]="username"
		       [placeholder]="'auth.username' | translate"
		       class="input" />

		<input pInputText
		       type="password"
		       [formControl]="password"
		       [placeholder]="'auth.password' | translate"
		       class="input" />

		<p-button
			styleClass="w-full"
			[label]="'auth.sign-in' | translate"
			[raised]="true"
			[disabled]="form.invalid"
			(onClick)="onLogin()">
			<ng-template pTemplate="icon">
				<i class="material-icons">login</i>
			</ng-template>
		</p-button>
	</div>
</div>

<app-background />