<div class="login-wrapper">
	<div class="login-card">
		<h2 class="title">Faculty<i>Flow</i></h2>

		<p-iconfield>
			<p-floatlabel variant="in" class="w-full">
				<p-inputicon class="pi pi-user" />
				<input
					pInputText
					id="username"
					type="text"
					[formControl]="username"
					autocomplete="off"
					class="w-full"
				/>
				<label for="username">{{ 'auth.username' | translate }}</label>
			</p-floatlabel>
		</p-iconfield>

		<p-iconfield>
			<p-floatlabel variant="in" class="w-full">
				<p-inputicon class="pi pi-lock" />
				<input
					pInputText
					id="password"
					type="password"
					[formControl]="password"
					autocomplete="off"
					class="w-full"
				/>
				<label for="password">{{ 'auth.password' | translate }}</label>
			</p-floatlabel>
		</p-iconfield>

		<p-button
			styleClass="w-full"
			[label]="'auth.sign-in' | translate"
			[raised]="true"
			[disabled]="form.invalid"
			(onClick)="onLogin()">
			<ng-template pTemplate="icon">
				<i class="material-icons">login</i>
			</ng-template>
		</p-button>
	</div>
</div>

<app-background />