	<app-panel-stepper [title]="'user-management.user-information'" [icon]="'pi pi-user'">
		<app-user-form [form]=form [user]="user"/>
	</app-panel-stepper>

	@if (isEditMode) {
		<app-panel-stepper title="user-management.employee-information" icon="pi pi-briefcase" [iconStyleClass]="'chip chip-info'"/>
	}

	<app-panel-stepper title="user-management.role-and-permissions" icon="pi pi-shield" [iconStyleClass]="'chip chip-danger'">
		<app-role-form [form]="form" [user]="user" />
	</app-panel-stepper>

	<div class="flex justify-content-end gap-2 mt-3">
		<p-button
			severity="secondary"
			[label]="'common.cancel' | translate"
			[text]="true"
			(onClick)="onCancel()"
		/>
		<p-button
			[label]="(isEditMode ? 'modal.edit-employee.submit' : 'modal.add-employee.submit') | translate"
			icon="pi pi-check"
			[disabled]="form.invalid"
			(onClick)="onSubmit()"
		/>
	</div>
