<p-table
	[value]="users()?.data ?? []"
	[paginator]="true"
	[rows]="10"
	[totalRecords]="users()?.total ?? 0"
	[lazy]="true"
	(onPage)="onPage($event)"
	[rowsPerPageOptions]="[5, 10, 25]"
	[showCurrentPageReport]="true"
	currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
	dataKey="uuid"
>
	<ng-template pTemplate="header">
		<tr>
         <th></th>

			<th pSortableColumn="firstName">
				{{ 'employee.first-name' | translate }}
				<p-sortIcon field="firstName" />
			</th>

			<th pSortableColumn="lastName">
				{{ 'employee.last-name' | translate }}
				<p-sortIcon field="lastName" />
			</th>

			<th pSortableColumn="username">
				{{ 'auth.username' | translate }}
				<p-sortIcon field="username" />
			</th>

			<th>
				{{ 'employee.email' | translate }}
			</th>

			<th>{{ 'user-management.roles' | translate }}</th>

			<th style="width: 6rem; text-align: center">
				{{ 'common.actions' | translate }}
			</th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-user>
		<tr>
         <td>
            <p-avatar [label]="getUserInitials(user)" [class]="'avatar-' + getAvatarSeverity(user)" size="large" shape="circle" />
         </td>

			<td>
				{{ user.firstName }}
			</td>

			<td>
				{{ user.lastName }}
			</td>

			<td>
				<p-chip [label]="user.username" icon="pi pi-user" />
			<td>
				{{ user.email }}
			</td>

			<td>
				@if (user.roles.length > 0) {
					@for (role of user.roles; track role) {
						<p-tag [value]="role" [severity]="getRoleSeverity(role)" />
					}
				}
			</td>

			<td style="text-align: center">
				<p-button icon="pi pi-cog" [rounded]="true" [text]="true" severity="secondary" (onClick)="onEditEmployee(user)"
				/>
			</td>
		</tr>
	</ng-template>
</p-table>

